*{
    margin:0;
    padding:0;
}

body{
    background: linear-gradient(45deg, #9af160, #3F5EFB);
    height: 100vh;
    flex-direction: column;
  
  }

.container{
    display: flex;
      width:100%;
      height: 500px;
      justify-content: center;
      align-items: center;
     margin-top: 5%;
      
  }
 
  .form1{
     position:relative;
  }
 
  form{
     background: rgba(255,255,255, .3);
     padding: 3rem;
     height: 400px;
     width: 350px;
     border-radius: 20px;
     border-left: 1px solid rgba(255,255,255, .3);
     border-top: 1px solid rgba(255,255,255, .3);
     backdrop-filter: blur(10px);
     -webkit-backdrop-filter: blur(10px);
     -moz-backdrop-filter:blur(10px);
     box-shadow: 20px 20px 40px -6px rgba(0,0,0, .2);
     text-align: center;
     
 }  
 
 p{
     color: white;
     font-weight: 500;
     opacity: .7;
     font-size: 2.5rem;
     margin-bottom: 70px;
     text-shadow: 2px 2px 4px rgba(0,0,0, .2);
 }
 
 input{
     background: transparent;
     border: none;
     border-left: 1px solid rgba(255,255,255, .3);
     border-top:1px solid rgba(255,255,255, .3) ;
     padding: 1rem;
     width: 280px;
     border-radius: 50px;
     backdrop-filter: blur(5px);
     -webkit-backdrop-filter: blur(5px);
     -moz-backdrop-filter:blur(5px);
     box-shadow: 4px 4px 60px rgba(0,0,0, .2);
     color:white;
     font-weight: 500;
     text-shadow: 2px 2px 4px rgba(0,0,0, .2);
     transition: all .3s;
     margin-bottom: 5%;
 }   
 
 ::placeholder{
     color:white;
 
 }
 
 input:hover,
 input[type="password"]:focus
 input[type="password"]:focus{
     background: rgba(255,255,255, .1);
     box-shadow: 4px 4px 60px 8px rgba(0,0,0, .2);
 }
 
 input[type="submit"]{
     font-size: 1.5rem;
     
 }
 
 .drop{
  background: rgba(255,255,255, .3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter:blur(10px);
  position:absolute;
  border-left: 1px solid rgba(255,255,255, .3);
  border-top: 1px solid rgba(255,255,255, .3);
 border-radius:10px;
 box-shadow: 10px 10px 60px -8px rgba(0,0,0,.2);
 }
 
 .drop-1{
     height: 90px;
     width: 90px;
     top: 200px;
     left: 690px;
     z-index: -1;
 
 }
 
 .drop-2{
     height: 90px;
     width: 90px;
     bottom: 70px;
     right: 700px;
    
 
 }
 
 .drop-3{
      height: 120px;
      width: 120px;
      bottom: 300px;
      right: 650px;
      z-index: -1;
 }
 
 .drop-4{
     height: 160px;
     width: 160px;
     top: 150px;
     right: 660px;
 }
 
 .drop-5{
     height: 80px;
     width: 80px;
     top: 450px;
     left: 800px;
     z-index: -1;
 }